body {
    margin: 5em 15rem 1em 15rem;
    font-size: 1.2em;
}

.basicText {
    text-align: center;
}
.name {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 0.1em;
}
.basicSmall {
    font-size: 1.2em;
}
.location {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
.email {
    margin-top: 0.5em;
}
.sectionHead {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 2px solid black;
    padding-left: 20px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}
.project-title {
    margin-bottom: 0px;
}
.project-unorder {
    margin-top: 0px;
}
ul .second {
    list-style-type: square;
} 

.project-title a {
    text-decoration: none;
}

.table-bold {
    font-weight: bold;
}

/* .exp-table-padding td{
    padding: 0 15px;
} */

.skills-container {
    display: flex;
}
